<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="/public/js/main.js" type="module"></script>
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-md-3">
            <button id="create-task">Create task</button>
            <div id="inputs">
                <label for="input-username">Username</label>
                <input class="input" id="input-username">

                <label for="input-email">Email</label>
                <input class="input" id="input-email">

                <label for="input-content">Content</label>
                <input class="input" id="input-content">

                <label for="input-image">Image</label>
                <input id="input-image" type="file">

                <input type="submit" id="submit">
                <input type="button" id="preview-button" value="Preview">
            </div>
        </div>
        <div class="col-md-9">
            <p>
                Order by:
                <a class="sort-link" id="sort-username" href="/?sort=username">Username</a>
                <a class="sort-link" id="sort-email" href="/?sort=email">Email</a>
                <a class="sort-link" id="sort-completed" href="/?sort=completed">Status</a>
                <a href="/">Reset</a>
            </p>
            <div class="row" id="tasks">
                {% for task in tasks.data %}
                    <div class="col-md-4 task">
                        <p>Username: <span class="username">{{ task.getUsername() }}</span>
                            {% if task.isCompleted() %}
                                <span class="done">✅ DONE</span>
                            {% endif %}
                        </p>
                        <p>Email: <span class="email">{{ task.getEmail() }}</span></p>
                        <p>Content: <span class="content">{{ task.getContent() }}</span></p>
                        {% if task.getImgPath() != '' %}
                            <img class="image" src="/storage/img/{{ task.getImgPath() }}" alt="task-image">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="pagination-links">
                <a class="pagination-link" href="/?current_page=1"><<</a>

                {% set previous = tasks.current_page - 4 %}
                {% for i in 1..3 %}
                    {% if (previous + i) > 0 %}
                        <a class="pagination-link" href="/?current_page={{ previous + i}}">{{ previous + i }}</a>
                    {% endif %}
                {% endfor %}

                <a class="pagination-link current_page" href="/?current_page={{ tasks.current_page }}">{{ tasks.current_page }}</a>

                {% for i in 1..3 %}
                    {% set next = tasks.current_page + i %}
                    {% if next < tasks.total_pages + 1 %}
                        <a class="pagination-link" href="/?current_page={{ next }}">{{ next }}</a>
                    {% endif %}
                {% endfor %}

                <a class="pagination-link" href="/?current_page={{ tasks.total_pages }}">>></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>