.content {
  padding: 5px 5px;
}

#inputs {
  padding: 5px;
  visibility: hidden;
}

#submit {
  margin-top: 5px;
}

#preview {
  border: 2px solid #7abaff;
}

#preview-button {
  color: #7abaff;
}

#tasks {
  margin-top: 6%;
  padding: 10px 10px;
}

.image {
  display: block;
  margin: auto auto;
}

.done {
  float: right;
}

.pagination-links {
  text-align: center;
  margin-top: auto;
}

.pagination-link {
  text-align: center;
  vertical-align: middle;
  margin-top: -1px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.current_page {
  background-color: #7abaff;
}